.nav-overlay {
  z-index: 1;
}

.yellow-selected a {
  color: black;
}

.team {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.team img {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.team h1 {
  width: 100%;
  margin-top: 30px;
}

.team h2 {
  width: 100%;
  margin-top: 30px;
}
